body {
  background: url('../image/clock-image1.png')no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.alarm-clock {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
}

.alarm-input{
  border-radius: 50px; 
  padding: 10px; 
  text-align: center;
  margin-bottom: 10px;
  background: transparent;
}

.input-time{
  background: transparent;
  padding: 3px;
  border-radius: 50px;
}

.save-btn{
  padding: 5px;
  border-radius: 5px;
  margin-left: 3px;
  cursor: pointer;
  color: green;
  border-color: green;
}

.save-btn:hover{
  background-color: green;
  color: white;
}

.save-btn:active{
  border: none;
  background-color: rgb(183, 248, 183);
  color: black;
}

.edit-btn{
  color: rgb(8, 114, 252);
  border-color:  rgb(8, 114, 252);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 3px;
  margin-bottom: 3px;
}

.edit-btn:hover{
  background-color: rgb(8, 114, 252);
  color: white;
}

.edit-btn:active{
  border: none;
  background-color: rgb(192, 216, 248);
  color: black;
}

.delete-btn{
  color: red;
  border-color: red;
  padding: 5px;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 5px;
}

.delete-btn:hover{
  background-color: red;
  color: white;
}

.delete-btn:active{
  background-color: rgb(253, 121, 121);
  color: black;
}

.stop-btn{
  color: rgb(252, 166, 8);
  border-color:  rgb(252, 166, 8);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.stop-btn:hover{
  background-color: rgb(252, 166, 8);
  color: white;
}

.stop-btn:active{
  background-color: rgb(250, 212, 142);
  color: black;
  border: none;
}

.btn{
  display: flex;
  gap: 3px;
}

.set-alarm-btn{
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border-color: green;
  color: green;
}

.set-alarm-btn:hover{
  background-color: green;
  color: white;
}

.set-alarm-btn:active{
  background-color: rgb(184, 244, 184);
  color: rgb(59, 57, 57);
  border: none;
}

.stop-alarm-btn{
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border-color: rgb(135, 128, 236);
  color: rgb(16, 108, 245);
}

.stop-alarm-btn:hover{
  background-color: rgb(135, 128, 236);
  color: white;
}

.stop-alarm-btn:active{
  background-color: rgb(181, 177, 247);
  color: rgb(59, 57, 57);
  border: none;
}

.clock-btn{
  border-color: rgb(212, 0, 255);
  color: rgb(212, 0, 255);
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.clock-btn:hover{
  background-color: rgb(212, 0, 255);
  color: white;
}

.clock-btn:active{
  background-color:rgb(244, 199, 245) ;
  color: #333;
  border: none;
}

.timer-btn{
  border-color: rgb(35, 34, 35);
  color: rgb(35, 34, 35);
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.timer-btn:hover{
  background-color: rgb(35, 34, 35);
  color: white;
}

.timer-btn:active{
  background-color:rgb(125, 123, 125) ;
  color: #c5bfbf;
  border: none;
}


@media only screen and (max-width: 480px) {
  body {
      background-size: cover;
  }

  .main {
      margin: 10px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
  body {
      background-size: cover;
  }

  .main {
      margin: 30px;
  }
}